html {
    height: 100%;
}

body {
width: 100%;
background: linear-gradient(to bottom right, rgb(85, 193, 255), white);
}

form {
    width: 250px;
    margin: auto;
    text-align: center;
    margin-top: 10vh;
}

form div {
    padding: 2vw;
}

button {
    margin-bottom: 20px;
    background-color: seashell;
}

.container {
    width: 40%;
    margin: auto;
    text-align: center;
}

#alert-div{
    display:flex;
    flex-direction: row;
    margin: auto;
}

#alert {
    text-align: center;
    border: none;
    border-radius: 6px;
    margin: 5px;
    margin-top: 30px;
    padding: 5px;
    width: fit-content;
    background-color: rgb(252, 63, 63);
    color: white;
}

#alert-info{
    font-size: 15px;
    border-bottom: 0;
}

.card {
    width: 600px;
    height: fit-content;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.87);
    border-color: rgba(238, 237, 237, 0.22);
    box-shadow: 5px 6px 6px 2px #e9ecef;
    text-align: center
}

h3 {
    margin-top: 20px;
}

.p-2 {
    margin-top: auto;
    margin-bottom: auto;    
}

#current-temp {
    font-size: 30px;
}

sup {
    font-size: 20px;
}

.header {
    margin-bottom: 10px;
}

#f {
    font-size: 25px;
}

h5 {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

#seven-day {
    margin-bottom: 15px;
}